<h1>This is a message from the controller</h1>
{{message}}

<h2>List all facilites</h2>
<input type="text" ng-model="page" ng-change="getFacilities()"></input>
<br />
<div ng-repeat="facility in data.organisationUnits">

    <div  ng-show="showFacilityHeader($index)" ng-click="selectFacility($index)"
         class="well well-lg">
            Name: {{facility.name}} <br />
    </div>


    <div ng-show="showExpandedFacility($index)" ng-click="deselectFacility()"
         class="well well-lg">
            <b>Id:</b>             {{orgResource.id}}   <br />
            <b>Name:</b>           {{orgResource.name}} <br />
            <b>Code:</b>           {{orgResource.code}} <br />
            <b>Created:</b>        {{orgResource.created}} <br />
            <b>Last updated:</b>   {{orgResource.lastUpdated}} <br />

            <button ng-click="editFacility($index)">Edit</button>
    </div>

    <div ng-show="showEditable($index)" class="well well-lg">
        <b>Id:</b>    {{facility.id}}   <br />
        <b>Name:</b> <input ng-model="orgResource.name" type="text" /> <br />
        <b>Code:</b> <input ng-model="orgResource.code" type="text" /> <br />

        <button ng-click="updateFacility($index)">Save</button> <button ng-click="selectFacility($index)">Cancel</button>
    </div>
</div>

