<header>
    <h1 class="text-muted">Facility Registration App</h1>
</header>

<form style="margin-bottom: 15px" onsubmit="">
    <div class="input-group">
        <input type="text" ng-model="search" class="form-control" placeholder="Search organisation units" ng-init="getFacilities()" />
        <span class="input-group-btn">
            <input type="submit" class="btn btn-default" ng-click="getFacilities()" value="Search" />
        </span>
    </div>
    <i>Enter name or code for facility or area, eg. Baoma</i>
</form>

<div>
    <div class="btn-group">
        <button class="btn btn-default crumb" type="button" ng-click="goToTrail(top)">
            <span class="glyphicon glyphicon-home"></span>
            <span  class="btn-link">Home</span>
        </button>
        <button class="btn btn-default crumb" type="button" ng-repeat="item in crumb"
                ng-click="goToTrail(item)"
                ng-class="{true: 'btn btn-default', false: 'btn disabled'}[item.depth!=crumb.length]">
            <span ng-show="item.depth!=crumb.length" class="btn-link" >{{item.name}}</span>
            <span ng-show="item.depth==crumb.length">{{item.name}}</span>
        </button>
    </div>
</div>

<ul class="list-group">
    <div cg-busy="{promise:isSearching,message:' ',templateUrl:'lib/cgBusy/template.html'}"></div>
    <li class="list-group-item facility-item clearfix" ng-class="{'facility-item-area': orgUnit.level != 4}" ng-repeat="orgUnit in currentSelection.organisationUnits" ng-click="goTo(orgUnit)">

        <span ng-show="!showExpandedFacility(orgUnit)" class="list-group-item-title">{{orgUnit.name}}</span>
        <span ng-show="orgUnit.children.length!=0" class="badge">{{orgUnit.children.length}}</span>

        <button ng-show="orgUnit.level==3" type="button facility-edit-button" class="btn btn-success pull-right" ng-click="createFacility(orgUnit)"><span class="glyphicon glyphicon-import"></span></button>
        <span class="btn-group pull-right">

            <button ng-show="orgUnit.level==4" type="button facility-edit-button" class="btn btn-primary" ng-click="editFacility(orgUnit)"><span class="glyphicon glyphicon-edit"></span></button>
            <button ng-show="orgUnit.level==4" type="button facility-edit-button" class="btn btn-danger" ng-click="deleteFacility(orgUnit)"><span class="glyphicon glyphicon-trash"></span></button>
        </span>

        <div class="orgunit_expand" ng-show="showExpandedFacility(orgUnit)">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{orgResource.name}}
                        <a class="orgunit_parent" ng-click="selectParent(orgResource)">Area: {{ orgResource.parent.name }}</a>
                    </h3>
                </div>
                <table class="panel-body">
                    <tr><td><b class="orgunit_elm">Name:</b></td>          <td>{{orgResource.name}}</td> </tr>
                    <tr><td><b class="orgunit_elm">Short Name:</b></td>    <td>{{orgResource.shortName}}</td> </tr>
                    <tr><td><b class="orgunit_elm">Code:</b></td>          <td>{{orgResource.code}}</td> </tr>
                    <tr><td><b class="orgunit_elm">Created:</b></td>       <td>{{orgResource.created}}</td> </tr>
                    <tr><td><b class="orgunit_elm">Last updated:</b></td>  <td>{{orgResource.lastUpdated}}</td> </tr>
                    <tr ng-repeat="group in orgResource.organisationUnitGroups">
                        <td><b>Group</b></td>
                        <td>{{ group.name }}</span></td>
                    </tr>
                </table>
            </div>
        </div>

    </li>
</ul>

<div class="alert-container">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(alert.id)">{{alert.message}}</alert>
</div>
