<h2>Fasiliteter</h2>

        <h2 ng-show="location">The location is: {{location.coordinates}}</h2>
<div class="mapContainer">
    <leaflet defaults="defaults" markers="markers"
             center="center" layers="layers"
             width="100%" height="100%">
    </leaflet>
</div>

<table>
    <tbody>
        <tr>
            <th>Navn</th><th>Id</th>
            <tr ng-repeat="facility in facilities.organisationUnits">
                <td><button class="glyphicon glyphicon-map-marker btn-info" ng-click="getLocation(facility.id)"></button></td>
                <td>{{facility.name}}</td>
                <td>{{facility.id}}</td>
            </tr>
        </tr>
    </tbody>
</table>