/* app css stylesheet */

.list-group-item
{
  cursor: pointer;
}

.list-group-item:hover li
{
  text-decoration: underline;
}

.list-group-item.ng-enter,
.list-group-item.ng-leave
{
  transition: 150ms linear all;
  position: relative;
  display: block !important;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
}

.list-group-item.ng-leave.ng-leave-active,
.list-group-item.ng-enter
{
  opacity: 0;
}

.list-group-item.ng-enter.ng-enter-active,
.list-group-item.ng-leave
{
  opacity: 1;
  width:   auto;
}

.orgunit_parent
{
  float:  right;
  cursor: pointer;
}

.orgunit_expand
{
  transition: 250ms linear all;
  position: relative;
  display:  block !important;
  overflow: hidden;
  text-wrap: none;
  height:   220px;
}

.orgunit_expand.ng-hide
{
  height:0;
  transition: height 0.35s ease;
  overflow:hidden;
  position:relative;
  height: 0;
}

.orgunit_expand.ng-hide-remove,
.orgunit_expand.ng-hide-add
{
  display:block !important;
}

.mapContainer
{
  padding:10px;
  max-height: 400px;
  max-width: 800px;
  width: 80%;
  height: 50em;
}

.loading-spinner {
  text-align:center;
  font-size:26px;
  position:absolute;
  top:100px;
  width:100%;
  text-shadow:1px 1px 2px gray, -1px -1px 2px white, -4px 4px 4px white, -4px 4px 4px white;
}
