/* app css stylesheet */

.list-group-item
{
  cursor: pointer;
}

.list-group-item:hover li
{
  text-decoration: underline;
}

.list-group-item.ng-enter,
.list-group-item.ng-leave
{
  transition: 150ms linear all;
  position: relative;
  display: block !important;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
}

.list-group-item.ng-leave.ng-leave-active,
.list-group-item.ng-enter
{
  opacity: 0;
}

.list-group-item.ng-enter.ng-enter-active,
.list-group-item.ng-leave
{
  opacity: 1;
  width:   auto;
}

.orgunit_parent
{
  float:  right;
  cursor: pointer;
}

.orgunit_expand
{
  transition: 250ms linear all;
  position: relative;
  display:  block !important;
  overflow: hidden;
  text-wrap: none;
  height:   220px;
}

.orgunit_expand.ng-hide
{
  height:0;
  transition: height 0.35s ease;
  overflow:hidden;
  position:relative;
  height: 0;
}

.orgunit_expand.ng-hide-remove,
.orgunit_expand.ng-hide-add
{
  display:block !important;
}

.mapContainer
{
  padding:10px;
  max-height: 400px;
  max-width: 800px;
  width: 80%;
  height: 50em;
}

.loading-spinner {
  text-align:center;
  font-size:26px;
  position:absolute;
  top:100px;
  width:100%;
  text-shadow:1px 1px 2px gray, -1px -1px 2px white, -4px 4px 4px white, -4px 4px 4px white;
}

.modal-lg {
  width: 80%;
  min-height: 500px;
}

.modal-backdrop-background {
  opacity: .2;
  background-color: gray;
  height: 100%;
}

/* Navbar styling */

.navbar {
  background-color: #276696;
  box-shadow: 0px 3px 5px 0px gray;
  border: 0px solid #276696;
  border-radius: 0px;
}

.navbar-default .navbar-text {
  font-weight: bold;
  color: #f2f2f2;
}

/* Styling for the browse view */
.facility-item {

}

.facility-item:hover {
  color: #276696;
  background-color: #f2f2f2;
  font-weight: bold;
}

.facility-item:active {
  background-color: #e0e0e0;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.alert-container {
  display: block;
  z-index: 100000;
  position: fixed;
  left: 1em;
  bottom: 0em;
  margin-right: auto;
  min-width: 300px;
  margin-bottom:0px;
}

